<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oauth</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
        .oauth a img {
            max-height: 20px;
            max-width: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row text-center"><h2>Welcome to auth page</h2></div>
    <div class="row text-center" style="padding-top: 50px">
        {% if user.is_authenticated %}
            <p class="text">Hello, {{ user.username }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <form class="oauth">
            <a class="btn btn-default" href="{% url 'auth_social' 'google' %}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png">
                Sign in via Google
            </a>
            <a class="btn btn-default" href="{% url 'auth_social' 'facebook' %}">
                <img src="http://www.freeiconspng.com/uploads/facebook-f-logo-transparent-facebook-f-22.png">
                Sign in via Facebook
            </a>
            <a class="btn btn-default" href="{% url 'auth_social' 'twitter' %}">
                <img src="https://g.twimg.com/Twitter_logo_blue.png">
                Sign in via Twitter
            </a>
        </form>
        {% endif %}
    </div>
</div>
</body>
</html>